html,body{
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.header img{
    height: 140px;
    width: 100%;
    display: block;
}

nav ul {
    list-style: none;
    background-color: rgb(137, 161, 255);
    padding: 0;
    margin: 0; 
    position: fixed; 
    top: 140px;
    width: 100%; 
    height: 80px;
    z-index: 1000; 
    text-align: center;
}

nav ul li {
    display: inline-block;
    position: relative;
    height: 80px;
    width: 200px;
    padding: 0 8px; 
}

nav ul li a {
    display: block; 
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    line-height: normal; 
}


nav ul li a img {
    width: 195px; 
    height:50px;
    vertical-align: middle; 
}

nav ul li ul.dropdown {
    position: absolute;
    display: none; 
    top: 80px; 
    left: 0;
    width: auto; 
    height: auto;
    margin: 0;
    background-color: rgb(137, 161, 255); 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

nav ul li ul.dropdown li {
    display: block; 
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul li:hover ul.dropdown {
    display: block; 
}

body{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 222px;
    background-color: rgb(171, 228, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.column{
    float: left;
}

.column.side{
    float: left;
    width: 33%;
    margin-right: 1%;
    background-color: rgb(41, 81, 191);
    color: white;
    padding: 20px;
    border-radius: 15px
}

.column.side img{
    width: 90%;
    height: auto;
    display: block;
    margin-bottom: 15px;
}

.column.middle{
    float: left;
    width: 66%;
    background-color: rgb(41, 81, 191);
    color: white;
    padding: 20px;
    border-radius: 15px;
}

.row{
    width: 90%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

.column h2{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.column p{
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 10px;
}

.column.side p{
    margin: 0;
}

.section-pendahuluan{
    margin-bottom: 0;
    padding-bottom: 40px;
    border-bottom: 1px;
}

.jenis{
    text-align: center;
    background-color: rgb(41, 81, 191);
    color: white;
    border-radius: 15px;
    float: left;
    padding-top: 30px;
    margin-top: 20px;
}

.jenis h2{
    text-align: center;
}

.jenis img{
    display: inline-block;
    width: 90%;
    height: auto;
    margin: 15px auto
}

.jenis p{
    text-align: center;
}

.ajakan {
    margin-top: 25px; 
    margin-bottom: 25px;
    
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    float: none; 
    
    background-color: #ffef74; 
    color: rgb(2, 36, 129); 
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.ajakan p {
    font-size: 20px; 
    font-weight: bold; 
    margin: 0; 
}

.halaman-kondisi{
    background-color: #F6D6D6;
}

.halaman-kondisi .column.side,
.halaman-kondisi .column.middle,
.halaman-kondisi .jenis{
    background-color: #f6f7a2; 
    color: #011a54;
}

.halaman-tantangan{
    background-color: #C4DFAA;
}

.halaman-tantangan .column.side,
.halaman-tantangan .column.middle{
    background-color: #F5F0BB;
    color: #011a54;
}
.halaman-tantangan .sorotan1 {
    color: rgb(40, 227, 165);
    font-weight: bold; 
    display: block;
}

.halaman-tantangan .sorotan2 {
    color: rgb(244, 139, 237); 
    font-weight: bold;
}

.halaman-potensi{
    background-color: #c4bffe;
    color: #011a54;
}

.halaman-potensi .column.side,
.halaman-potensi .column.middle{
    background-color: #FFFDDE;
    color: #011a54;
}
.halaman-potensi .sorotan1{
    color: #f58f8f;
    font-weight: bold;
}

.halaman-peran{
    background-color: #F3C1C6;
}

.halaman-peran .potensi-gallery {
    width: 90%; 
    margin: 20px auto; 
    padding: 20px;
    background-color: #F0F69F; 
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
}

.halaman-peran .potensi-gallery h2 {
    width: 100%;
    text-align: center;
    color: #02b7ee; 
    margin-bottom: 20px;
}

.halaman-peran .potensi-gallery img {
    display: inline-block; 
    width: 250px !important;
    height: 150px !important;
    object-fit: cover;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #ed35c2; 
}
    
.halaman-peran .column.full-width {
    width: 100%; 
    float: none; 
    margin: 0; 
    padding: 20px; 
    background-color: #ffe45c; 
    color: #440000; 
    border-radius: 15px;
    box-sizing: border-box; 
}

.halaman-peran .column.full-width h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #011a54;
}
.halaman-peran .column.side {
    display: none;
}

.halaman-peran .sorotan1 {
    color: #C71E64; 
    font-weight: bold; 
    display: block;
}

.halaman-solusi .jenis p { 
    text-align: justify; 
    line-height: 1.6;
}

.halaman-solusi .jenis {
    width: 70%; 
    margin: 30px auto; 
    padding: 20px;
    background-color: rgb(249, 167, 234); 
    border-radius: 15px;
    color: #65002a;
    float: none;
}

.halaman-kerjasama .jenis p { 
    text-align: justify; 
    line-height: 1.6;
}

.halaman-kerjasama .jenis {
    width: 70%; 
    margin: 30px auto; 
    padding: 20px;
    background-color: rgb(225, 244, 154); 
    border-radius: 15px;
    color: #41011c;
    float: none;
}

.halaman-kerjasama .jenis img {
    width: 250px;
    height: auto;
    display: block;
    margin: 10px auto;
    border: 2px solid #ff85d2; 
}

.halaman-tentangkami .column.middle {
    width: 100%; 
    float: none; 
    margin-right: 0;
}

.halaman-tentangkami .column.side {
    display: none;
}

.halaman-tentangkami .jenis {
    width: 85%; 
    margin: 30px auto; 
    float: none;
}

.halaman-daftarpustaka .jenis p {
    text-align: left;
    word-break: break-all;
    overflow-wrap: break-word;
    margin-bottom: 10px;
    line-height: 1,4;

}

.halaman-daftarpustaka .jenis {
    width: 80%;
    margin: 30px auto;
    float: none;
    padding: 20px;
    background-color: #011a54;
    color: white;
    border-radius: 15px;
}